<ol class="optionsList ml-7 list-decimal">

    @for (option of options; track $index) {
        <li>
            <div class="option m-2">
                <input [(ngModel)]="option.value" class="focus:outline-none w-1/3 p-2 bg-slate-200" type="text">
                <button class="ml-2" mat-mini-fab aria-label="Example icon button with a menu icon">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </li>
    }

</ol>
<button class="m-2" (click)="handleAddOptions()">Add Options</button>