<div class="layout m-6 border-2 border-dashed border-slate-400" >
    <h3 class="text-center">Form Builder</h3>
    <ol class="list-decimal">
        @for (question of questions; track $index) {
            <li>
                <app-question (delete)="handleDelete($event,$index)" ></app-question>
            </li>
        }
    </ol>
    <div class="addQuestionBtn flex justify-center">
        <button (click)="handleAddQuestion()" class="rounded p-2" style="background-color: #EDE8DC;">Add Question</button>
    </div>
</div>