<div class="layout m-6 border-2 border-dashed border-slate-400" >
    <div class="header flex justify-around">
        <h3 class="text-center">FORM BUILDER</h3>
        <button class="previewBtn">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
    </div>
    <ol class="list-decimal">
        @for (question of questions; track $index) {
            <li>
                <app-question (delete)="handleDelete($event,$index)" ></app-question>
            </li>
        }
    </ol>
    <div class="addQuestionBtn flex justify-center">
        <button (click)="handleAddQuestion()" class="rounded p-2" style="background-color: #EDE8DC;">Add Question</button>
    </div>
</div>